@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>İNŞAAT ÖN MUHASEBE</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="w3-sidebar w3-bar-block w3-card bg-success" style="display:none" id="mySidebar">
            <button class="w3-bar-item w3-button bg-info w3-large font-weight-bold"
            onclick="w3_close()">
                KAPAT &times;
            </button>
            @if (User.IsInRole("Admin"))
            {
            <a href="/Admin/Index" class="w3-bar-item w3-button w3-padding"><i class="fas fa-university"></i>  ADMİN PANELİ</a>
            <br />
            }

            @if (User.IsInRole("Ofis") || User.IsInRole("Admin"))
            {
                <a href="/AnaSayfa/AnaSayfa" class="w3-bar-item w3-button w3-padding"><i class="fas fa-home"></i>  ANA SAYFA</a>
                <br />
                <a href="/Santiye/Index" class="w3-bar-item w3-button w3-padding"><i class="fas fa-snowplow"></i>  ŞANTİYELER</a>
                <br />
                <a href="/CariHesap/CariHesap" class="w3-bar-item w3-button w3-padding"><i class="fa fa-copy"></i>  CARİ HESAPLAR</a>
                <br />
                <a href="/BankaKasa/BankaKasa" class="w3-bar-item w3-button w3-padding"><i class="fas fa-cash-register"></i>  ANA KASA</a>
                <br />
                <a href="/Cek/Index" class="w3-bar-item w3-button w3-padding"><i class="fa fa-ticket"></i> ÇEKLER</a>
                <br />
                <a href="/Nakit/Index" class="w3-bar-item w3-button w3-padding"><i class="fa fa-turkish-lira"></i> NAKİT ÖDEMELER</a>
                <br />
            }
            
            @if (User.IsInRole("Santiye"))
            {
                <a href="/SantiyeKasa/SantiyeKasaYonlendirme" class="w3-bar-item w3-button w3-padding"><i class="fas fa-home"></i>  ŞANTİYE KASA</a> @*ŞANTİYEYE ÖZEL*@
                <br />
                <a href="/CariHesap/CariHesap" class="w3-bar-item w3-button w3-padding"><i class="fa fa-copy"></i>  CARİ HESAPLAR</a> @*ŞANTİYEYE ÖZEL*@
                <br />
                <a href="/Cek/Index" class="w3-bar-item w3-button w3-padding"><i class="fa fa-ticket"></i> ÇEKLER</a> @*ŞANTİYEYE ÖZEL*@
                <br />
                <a href="/Nakit/Index" class="w3-bar-item w3-button w3-padding"><i class="fa fa-turkish-lira"></i> NAKİT ÖDEMELER</a> @*ŞANTİYEYE ÖZEL*@
                <br />
            }
            <a href="/account/Logout" class="w3-bar-item w3-button w3-padding"><i class="fas fa-power-off"></i>@User.Identity.Name ÇIKIŞ</a>
        </div>
    }
    <div id="main">
        <div class="bg-info">
            <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
            <div class="w3-container text-white">
                <h1 style="color:black; text-align:center; vertical-align:middle; font-weight:bold">@ViewBag.Sayfa</h1>
            </div>
        </div>

        @if (TempData["message"] != null)
        {
            <partial name="_ResultMessage" model="@(TempData.Get<AlertMessage>("message"))" />
        }


        <div class="w3-container">
            @RenderBody()
            <p></p>
        </div>
    </div>

    <script>
        function w3_open() {
            document.getElementById("main").style.marginLeft = "25%";
            document.getElementById("mySidebar").style.width = "25%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }
    </script>

    @section Scripts
    {
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }

    @RenderSection("Scripts",false);

</body>
</html>
