@model Cek
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form asp-controller="Cek" asp-action="CekEklemeFromCari" method="post" enctype="multipart/form-data">
        <br />
        <input type="hidden" asp-for="CariHesapId" class="form-control" value="@ViewBag.CariHesapId" />
        <br />
        <div class="form-group">
            <div class="col-sm-2"><label for="CekNo">ÇEK NUMARASI:</label></div>
            <div class="col-sm-2"><input asp-for="CekNo" value="@Model.CekNo" class="form-control" /></div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-sm-2"><label for="Tarih">TARİH:</label></div>
            <div class="col-sm-2"><input asp-for="Tarih" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" /></div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-sm-2"><label for="Aciklama">AÇIKLAMA:</label></div>
            <div class="col-sm-10"><input asp-for="Aciklama" value="@Model.Aciklama" class="form-control" /></div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-sm-2"><label for="Kisi">TUTAR:</label></div>
            <div class="col-sm-2"><input asp-for="Tutar" value="@Model.Tutar" class="form-control" type="number" min="1" step=".01" /></div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-sm-2"><label asp-for="SirketId">ŞİRKET:</label></div>
            <div class="col-sm-2">
                <div asp-validation-summary="ModelOnly"></div>
                <select asp-for="SirketId"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.Sirket,"Id","Ad"))">
                </select>
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-sm-2"><label asp-for="BankaHesapId">BANKA HESABI:</label></div>
            <div class="col-sm-2">
                <div asp-validation-summary="ModelOnly"></div>
                <select asp-for="BankaHesapId"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.Banka,"Id","Ad"))">
                </select>
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-sm-2"><label for="ImgUrl">IMG:</label></div>
            <div class="col-sm-2">
                <input type="hidden" asp-for="ImgUrl" />
                <input type="file" name="file" />
            </div>
        </div>
        <br />
        <br />
        <button type="submit" class="btn btn-success">EKLE</button>
    </form>
</body>
</html>