@model Cek
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form asp-controller="Cek" asp-action="CekSil" method="post">
        <br />
        <input type="hidden" name="Id" value="@Model.Id" />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-4">
                    <table class="w3-table w3-striped w3-white">
                        <tr><th>BANKA</th><td>@Model.BankaHesap.HesapAdi</td></tr>
                        <tr><th>ÇEK NO</th><td>@Model.CekNo</td></tr>
                        <tr><th>TARİH</th><td>@Model.Tarih.ToString("dd/MM/yyyy")</td></tr>
                        <tr><th>AÇIKLAMA</th><td>@Model.Aciklama</td></tr>
                        <tr><th>TUTAR</th><td>@Model.Tutar</td></tr>
                        <tr><th>ŞİRKET</th><td>@Model.Sirket.Ad</td></tr>
                        <tr><th>FİRMA</th><td>@Model.CariHesap.Ad</td></tr>
                        <tr><th>SİSTEME GİRİŞ</th><td>@Model.SistemeGiris.ToString("dd/MM/yyyy")</td></tr>
                        <tr><th>SON GÜNCELLEME</th><td>@Model.SonGuncelleme.ToString("dd/MM/yyyy")</td></tr>
                    </table>
                </div>
                <div class="col-xl-6 col-md-4">
                    <div class="card-body">
                        <img style='height: 100%; width: 100%; object-fit: contain' src="~/CekResim/@Model.ImgUrl" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <button type="submit" class="btn btn-success">SİL</button>
    </form>
</body>
</html>