@model CariKasa
@{}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form asp-controller="CariKasa" asp-action="CariKasaEkleme" method="post" enctype="multipart/form-data">
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="CariHesapId">@*FİRMA ADI:*@</label>
            <div class="col-sm-5">
                <div asp-validation-summary="ModelOnly"></div>
                <select asp-for="CariHesapId"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.CariHesap,"Id","Ad"))">
                </select>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="CariGiderKalemiId"></label>
            <div class="col-sm-5">
                <div asp-validation-summary="ModelOnly"></div>
                <select asp-for="CariGiderKalemiId"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.CariGK,"Id","Ad"))">
                </select>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="Tarih"></label>
            <div class="col-sm-5">
                <input asp-for="Tarih" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Tarih"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="Aciklama"></label>
            <div class="col-sm-5">
                <input asp-for="Aciklama" value="@Model.Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="Miktar"></label>
            <div class="col-sm-5">
                <input asp-for="Miktar" value="@Model.Miktar" class="form-control" type="number" min="1" step=".01" />
                <span asp-validation-for="Miktar"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="BirimFiyat"></label>
            <div class="col-sm-5">
                <input asp-for="BirimFiyat" value="@Model.BirimFiyat" class="form-control" type="number" min="1" step=".01" />
                <span asp-validation-for="BirimFiyat"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="Borc"></label>
            <div class="col-sm-5">
                <input asp-for="Borc" class="form-control" value="0" type="number" min="0" step=".01" />
                <span asp-validation-for="Borc"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="Alacak"></label>
            <div class="col-sm-5">
                <input asp-for="Alacak" value="@Model.Alacak" class="form-control" type="number" min="0" step=".01" />
                <span asp-validation-for="Alacak"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="ImgUrl"></label>
            <div class="col-sm-5">
                <input type="hidden" asp-for="ImgUrl" />
                <input type="file" name="file" />
                <span asp-validation-for="ImgUrl"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <button class="col-sm-offset-2 col-sm-5 btn btn-success" type="submit">EKLE</button>
        </div>
    </form>
</body>
</html>