@model BankaKasa
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <br />
    <br />
    <div class="row col-md-12">
        <a asp-controller="BankaKasa"
           asp-action="BankaKasa"
           class="btn btn-primary btn-sm">ANA KASA</a>
    </div>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-4">
                <table class="w3-table w3-striped w3-white">
                    <tr><th>TARİH</th><td>@Model.Tarih.ToString("dd/MM/yyyy")</td></tr>
                    <tr><th>AÇIKLAMA</th><td>@Model.Aciklama</td></tr>
                    <tr><th>NİTELİK</th><td>@Model.Nitelik</td></tr>
                    <tr><th>BANKA HESABI</th><td>@Model.BankaHesap.HesapAdi</td></tr>
                    <tr><th>GİREN</th><td>@Model.Giren</td></tr>
                    <tr><th>ÇIKAN</th><td>@Model.Cikan</td></tr>
                    <tr><th>SİSTEME GİRİŞ</th><td>@Model.SistemeGiris.ToString("dd/MM/yyyy")</td></tr>
                    <tr><th>SON GÜNCELLEME</th><td>@Model.SonGuncelleme.ToString("dd/MM/yyyy")</td></tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
