@model BankaKasa
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <br />
    <br />
    <div class="row col-md-12">
        <a asp-controller="BankaKasa"
           asp-action="BankaKasa"
           class="btn btn-primary btn-sm">ANA KASA</a>
    </div>
    <form asp-controller="BankaKasa" asp-action="BankaKasaGuncelle" method="post" enctype="multipart/form-data">
        <br />
        <input type="hidden" name="Id" value="@Model.Id" />
        <br />
        <div class="form-group">
            <div class="col-sm-2"><label for="Tarih">TARİH:</label></div>
            <div class="col-sm-2"><input asp-for="Tarih" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" /></div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-sm-2"><label for="Aciklama">AÇIKLAMA:</label></div>
            <div class="col-sm-10"><input asp-for="Aciklama" class="form-control" /></div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-sm-2"><label for="Nitelik">NİTELİK:</label></div>
            <div class="col-sm-4"><input asp-for="Nitelik" class="form-control" /></div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-sm-2"><label for="BankaHesapId">GÖNDEREN HESAP:</label></div>
            <div class="col-sm-2">
                <div asp-validation-summary="ModelOnly"></div>
                <select asp-for="BankaHesapId"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.bankahesap,"Id","Ad"))">
                </select>
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-sm-2"><label for="Giren">GİREN TUTAR:</label></div>
            <div class="col-sm-2"><input asp-for="Giren" value="@Model.Giren" class="form-control" type="number" min="0" step=".01" /></div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-sm-2"><label for="Giren">ÇIKAN TUTAR:</label></div>
            <div class="col-sm-2"><input asp-for="Cikan" value="@Model.Cikan" class="form-control" type="number" min="0" step=".01" /></div>
        </div>
        <br />
        <br />
        <button type="submit" class="btn btn-success">GÜNCELLE</button>
    </form>
</body>
</html>
