@model SantiyeKasa
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form asp-controller="SantiyeKasa" asp-action="SantiyeKasaEklemeFromSantiye" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="SantiyeId" class="form-control" value="@ViewBag.SantiyeId" />
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="Tarih"></label>
            <div class="col-sm-5">
                <input asp-for="Tarih" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Tarih"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="Aciklama"></label>
            <div class="col-sm-5">
                <input asp-for="Aciklama" value="@Model.Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="Kisi"></label>
            <div class="col-sm-5">
                <input asp-for="Kisi" value="@Model.Kisi" class="form-control" />
                <span asp-validation-for="Kisi"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="SantiyeGiderKalemiId"></label>
            <div class="col-sm-5">
                <div asp-validation-summary="ModelOnly"></div>
                <select asp-for="SantiyeGiderKalemiId"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.GK,"Id","Ad"))">
                </select>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="No">@*FATURA/FİŞ NO-PLAKA:*@</label>
            <div class="col-sm-5">
                <input asp-for="No" value="@Model.No" class="form-control" />
                <span asp-validation-for="No"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="Gider"></label>
            <div class="col-sm-5">
                <input asp-for="Gider" value="@Model.Gider" class="form-control" type="number" min="0" step=".01" />
                <span asp-validation-for="Gider"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="ImgUrl"></label>
            <div class="col-sm-5">
                <input type="hidden" asp-for="ImgUrl" />
                <input type="file" name="file" />
                <span asp-validation-for="ImgUrl"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <button class="col-sm-offset-2 col-sm-5 btn btn-success" type="submit">EKLE</button>
        </div>
    </form>
</body>
</html>