@model AdminViewListModel
@{ }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body style="background-color:burlywood">
    <div>
        <br />
        <div>
            <a asp-controller="Account" asp-action="Register" class="btn btn-dark btn-sm">KULLANICI EKLE</a>
            <a asp-controller="Admin" asp-action="UserList" class="btn btn-dark btn-sm">KULLANICI LİSTESİ</a>
            <a asp-controller="Admin" asp-action="RoleCreate" class="btn btn-dark btn-sm">ROL EKLE</a>
            <a asp-controller="Admin" asp-action="RoleList" class="btn btn-dark btn-sm">ROL LİSTESİ</a>
        </div>
        <br />

        <div style="background-color: burlywood" class="col col-md-12">
            <div class="col col-md-11">
                <table class="table">
                    <tr>
                        <th>
                            <br />
                        </th>
                    </tr>
                </table>
            </div>
        </div>

        <div style="background-color:aliceblue" class="col col-md-12">
            <br />
            <div>
                <a asp-controller="Sirket" asp-action="SirketEkleme" class="btn btn-success btn-sm">YENİ ŞİRKET EKLE</a>
                <a asp-controller="Admin" asp-action="Arsiv" class="btn btn-dark btn-sm">ARŞİV</a>
            </div>
            <br />
            <table class="table table-bordered">
                <tr>
                    <th style="width:50%; vertical-align:middle">ŞİRKET ADI</th>
                    <th style="width:35%; vertical-align:middle">VERGİ NO</th>
                    <th style="width:10%">GÜNCELLE</th>
                    <th style="width:5%">SİL</th>
                </tr>
                @if (Model.Sirkets.Count == 0)
                {
                    <tr><td>SİSTEME KAYITLI ŞİRKET HESAP BULUNMAMAKTADIR</td></tr>
                }
                else
                {
                    @foreach (var item in Model.Sirkets)
                    {
                        <tr>
                            <td style="width:50%; vertical-align:middle">@item.Ad</td>
                            <td style="width:35%; vertical-align:middle">@item.VergiNo</td>

                            <td style="width:10%; vertical-align:middle">
                                <a asp-controller="Sirket" asp-action="SirketGuncelle" asp-route-id="@item.Id" class="btn btn-success btn-sm">GÜNCELLE</a>
                            </td>

                            <td style="width:5%; vertical-align:middle">
                                <a asp-controller="Sirket" asp-action="SirketSil" asp-route-id="@item.Id" class="btn btn-danger btn-sm">SİL</a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>

        <div style="background-color: burlywood" class="col col-md-12">
            <div class="col col-md-11">
                <table class="table">
                    <tr>
                        <th>
                            <br />
                        </th>
                    </tr>
                </table>
            </div>
        </div>

        <div style="background-color:antiquewhite" class="col col-md-12">
            <div>
                <br />
                <a asp-controller="BankaHesap" asp-action="BankaHesapEkleme" class="btn btn-success btn-sm">YENİ BANKA HESABI EKLE</a>
                <a asp-controller="Admin" asp-action="Arsiv" class="btn btn-dark btn-sm">ARŞİV</a>
            </div>
            <br />
            <table class="table table-bordered">
                <tr>
                    <th style="vertical-align: middle; width: 50%">HESAP ADI</th>
                    <th style="vertical-align: middle; width: 35%">IBAN</th>
                    <th style="vertical-align: middle; width: 10%">GÜNCELLE</th>
                    <th style="vertical-align: middle; width: 5%">SİL</th>
                </tr>
                @if (Model.BankaHesaps.Count == 0)
                {
                    <tr><td>SİSTEME KAYITLI BANKA HESAP BULUNMAMAKTADIR</td></tr>
                }
                else
                {
                    @foreach (var item in Model.BankaHesaps)
                    {
                        <tr>
                            <td style=" vertical-align: middle; width: 50%">@item.HesapAdi</td>
                            <td style=" vertical-align: middle; width: 35%">@item.IbanNo</td>

                            <td style=" vertical-align: middle; width: 10%">
                                <a asp-controller="BankaHesap" asp-action="BankaHesapGuncelle" asp-route-id="@item.Id" class="btn btn-success btn-sm">GÜNCELLE</a>
                            </td>

                            <td style=" vertical-align: middle; width: 5%">
                                <a asp-controller="BankaHesap" asp-action="BankaHesapSil" asp-route-id="@item.Id" class="btn btn-danger btn-sm">SİL</a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>

        <div style="background-color: burlywood" class="col col-md-12">
            <div class="col col-md-11">
                <table class="table">
                    <tr>
                        <th>
                            <br />
                        </th>
                    </tr>
                </table>
            </div>
        </div>

        <div style="background-color:aliceblue" class="col col-md-12">
            <div>
                <br />
                <a asp-controller="CariGiderKalemi" asp-action="CariGiderKalemiEkleme" class="btn btn-success btn-sm">YENİ CARİ KALEM EKLE</a>
                <a asp-controller="Admin" asp-action="Arsiv" class="btn btn-dark btn-sm">ARŞİV</a>
            </div>
            <br />
            <table class="table table-bordered">
                <tr>
                    <th style="vertical-align: middle; width: 85%">CARİ HESAP KALEM ADLARI</th>
                    <th style="vertical-align: middle; width: 10%">GÜNCELLE</th>
                    <th style="vertical-align: middle; width: 5%">SİL</th>
                </tr>
                @if (Model.CariGiderKalemis.Count == 0)
                {
                    <tr><td>SİSTEME KAYITLI CARİ KALEMİ BULUNMAMAKTADIR</td></tr>
                }
                else
                {
                    @foreach (var item in Model.CariGiderKalemis)
                    {
                        <tr>
                            <td style=" vertical-align: middle; width: 85%">@item.Ad</td>

                            <td style=" vertical-align: middle; width: 10%">
                                <a asp-controller="CariGiderKalemi"
                                   asp-action="CariGiderKalemiGuncelle"
                                   asp-route-id="@item.Id"
                                   class="btn btn-success btn-sm">GÜNCELLE</a>
                            </td>

                            <td style=" vertical-align: middle; width: 5%">
                                <a asp-controller="CariGiderKalemi"
                                   asp-action="CariGiderKalemiSil"
                                   asp-route-id="@item.Id"
                                   class="btn btn-danger btn-sm">SİL</a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>

        <div style="background-color: burlywood" class="col col-md-12">
            <div class="col col-md-11">
                <table class="table">
                    <tr>
                        <th>
                            <br />
                        </th>
                    </tr>
                </table>
            </div>
        </div>

        <div style="background-color:antiquewhite" class="col col-md-12">
            <div>
                <br />
                <a asp-controller="SantiyeGiderKalemi"
                   asp-action="SantiyeGiderKalemiEkleme"
                   class="btn btn-success btn-sm">ŞANTİYE KASA YENİ GİDER KALEMİ EKLE</a>
                <a asp-controller="Admin"
                   asp-action="Arsiv"
                   class="btn btn-dark btn-sm">ARŞİV</a>
            </div>
            <br />
            <table class="table table-bordered">
                <tr>
                    <th style="vertical-align: middle; width: 85%">ŞANTİYE KASASI KALEM ADI</th>
                    <th style="vertical-align: middle; width: 10%">GÜNCELLE</th>
                    <th style="vertical-align: middle; width: 5%">SİL</th>
                </tr>
                @if (Model.SantiyeGiderKalemis.Count == 0)
                {
                    <tr><td>SİSTEME KAYITLI ŞANTİYE KASASI İÇİN GİDER KALEMİ BULUNMAMAKTADIR</td></tr>
                }
                else
                {
                    @foreach (var item in Model.SantiyeGiderKalemis)
                    {
                        <tr>
                            <td style=" vertical-align: middle; width: 85%">@item.Ad</td>

                            <td style=" vertical-align: middle; width: 10%">
                                <a asp-controller="SantiyeGiderKalemi"
                           asp-action="SantiyeGiderKalemiGuncelle"
                           asp-route-id="@item.Id"
                                   class="btn btn-success btn-sm">GÜNCELLE</a>
                            </td>

                            <td style=" vertical-align: middle; width: 5%">
                                <a asp-controller="SantiyeGiderKalemi"
                           asp-action="SantiyeGiderKalemiSil"
                           asp-route-id="@item.Id"
                                   class="btn btn-danger btn-sm">SİL</a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>

        <div style="background-color: burlywood" class="col col-md-12">
            <div class="col col-md-11">
                <table class="table">
                    <tr>
                        <th>
                            <br />
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
