@model SantiyeViewListModel
@{ var sayi = 0; }

<!DOCTYPE html>

<html>
<body>
    <div>
        <br />
            <a asp-controller="Santiye" asp-action="SantiyeEkleme" class="btn btn-primary btn-sm">YENİ ŞANTİYE EKLE</a>
            <a asp-controller="Santiye" asp-action="IndexArsiv" asp-route-drm="@false" class="btn btn-dark btn-sm">ARŞİV</a>
        <br />
    </div>
    <br />
    <div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th style="vertical-align: middle; width: 15%">ŞANTİYE ADI</th>
                    <th style="vertical-align: middle; width: 20%">ŞANTİYE ADRESİ</th>
                    <th style="vertical-align: middle; width: 20%">GÜNCEL BAKİYE</th>
                    <th style="vertical-align: middle; width: 10%">KASA</th>
                    <th style="vertical-align: middle; width: 15%">KASA ARŞİV</th>
                    <th style="vertical-align: middle; width: 10%">GÜNCELLE</th>
                    <th style="vertical-align: middle; width: 10%">SİL</th>
                </tr>
                @if (Model.Santiyes.Count == 0)
                {
                    <tr><td>SİSTEME KAYITLI ŞANTİYE BULUNMAMAKTADIR</td></tr>
                }
                else
                {
                    @foreach (var item in Model.Santiyes)
                    {
                        <tr>
                            <td style=" vertical-align: middle; width: 20%">@item.Ad</td>
                            <td style=" vertical-align: middle; width: 20%">@item.Adres</td>

                            <th style=" vertical-align: middle; width: 20%">@ViewBag.Net[sayi] <label style="visibility:hidden"> @(sayi = sayi + 1) </label></th>

                            <td style=" vertical-align: middle; width: 10%">
                                <a asp-controller="SantiyeKasa" asp-action="SantiyeKasa" asp-route-santiyeid="@item.Id" class="btn btn-info btn-sm"><i class="fas fa-cash-register"></i>KASA</a>
                            </td>

                            <td style=" vertical-align: middle; width: 10%">
                                <a asp-controller="SantiyeKasa" asp-action="SantiyeKasaArsiv" asp-route-santiyeid="@item.Id" class="btn btn-dark btn-sm"><i class="fas fa-cash-register"></i>SİLİNENLER</a>
                            </td>

                            <td style=" vertical-align: middle; width: 10%">
                                <a asp-controller="Santiye" asp-action="SantiyeGuncelle" asp-route-id="@item.Id" class="btn btn-success btn-sm">GÜNCELLE</a>
                            </td>

                            <td style=" vertical-align: middle; width: 10%">
                                <a asp-controller="Santiye" asp-action="SantiyeSil" asp-route-id="@item.Id" class="btn btn-danger btn-sm">SİL</a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</body>
</html>