@model Nakit
@{}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form asp-controller="Nakit" asp-action="NakitEkleme" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="Tarih"></label>
            <div class="col-sm-5">
                <input asp-for="Tarih" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                <span asp-validation-for="Tarih"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="Aciklama"></label>
            <div class="col-sm-5">
                <input asp-for="Aciklama" value="@Model.Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama"></span>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="col-sm-2" asp-for="Tutar"></label>
            <div class="col-sm-5">
                <input asp-for="Tutar" value="@Model.Tutar" class="form-control" type="number" min="1" step=".01" />
                <span asp-validation-for="Tutar"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="SirketId"></label>
            <div class="col-sm-5">
                <select asp-for="SirketId" asp-items="@ViewBag.Sirket" class="form-control">
                    <option selected disabled>SEÇİNİZ</option>
                </select>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="CariHesapId"></label>
            <div class="col-sm-5">
                <select asp-for="CariHesapId" asp-items="@ViewBag.Cari" class="form-control">
                    <option selected disabled>SEÇİNİZ</option>
                </select>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="BankaHesapId"></label>
            <div class="col-sm-5">
                <select asp-for="BankaHesapId" asp-items="@ViewBag.Banka" class="form-control">
                    <option selected disabled>SEÇİNİZ</option>
                </select>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="ImgUrl"></label>
            <div class="col-sm-5">
                <input type="hidden" asp-for="ImgUrl" value="@Model.ImgUrl" />
                <input type="file" name="file" />
                <span asp-validation-for="ImgUrl"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <button class="col-sm-offset-2 col-sm-5 btn btn-success" type="submit">EKLE</button>
        </div>
    </form>
</body>
</html>